<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<appSettings>
		<!-- Number of philosophers -->
		<add key="Philosopher Count" value="5"/>

		<!-- Number of forks -->
		<add key="Fork Count" value="{%Philosopher Count%}"/>

		<add key="Max philosophers to eat simultaneously" value="2"/>

		<!-- A time after which cancel philosophers dining experience -->
		<add key="Duration Allow Philosophers To Eat [seconds]" value="20"/>

		<!-- A philosopher may think for up to MaxThkinkDuration + MinThinkDuration -->
		<add key="philosopher Max Think Duration [milliseconds]" value="1000"/>

		<!-- Minimum think duration -->
		<add key="philosopher Min Think Duration [milliseconds]" value="50"/>

		<!-- After a philosopher was granted eating permission, the philosopher 
		     will wait for DurationBeforeRequestingPermissionToEat
			 before s/he will attempt to ask for eating permission. -->
		<add key="Duration Before Requesting Next Permission To Eat [milliseconds]" value="20"/>

		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
